<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Connect your paired iPhone to Chat on this Mac when you turn on iPhone companion.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_coven-chat._tcp</string>
  </array>
</dict>
</plist>
